*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
   

  background-image: url("/images/background-img.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #333;

  overflow-x: hidden;   
  overflow-y: auto; 
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(203, 202, 202, 0.65);
    pointer-events: none;
    z-index: -1;
}


footer {
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
}

footer .center-text {
    font-size: 0.9em;
}
