*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
   width: 100%;
  height: calc(100vh - 90px); 
  overflow: hidden;

  background-image: url("/images/background-img.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;  
  overflow: hidden;

    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 40px;

    font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #333;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(203, 202, 202, 0.65);
    pointer-events: none;
    z-index: -1;
}


footer {
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
}

footer .center-text {
    font-size: 0.9em;
}
